{% extends 'inicioPadre.html' %}
{% block body %}

<!-- Content -->
<div class="p-0">
  <div class="flex items-center justify-between mt-1 p-8 py-1">
    <a href="open_course.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Open Course</a>
    <a href="roadlearning.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Roadlearning</a>
    <a href="webinars.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Webinars</a>
  </div>
    <div class="p-8 py-1">
      <hr class=" border-1.5 border-gray-400 ">
    </div>
    <div class="bg-white-100 justify-center">
      <div class="space-y-4 p-8">
          <!-- Card 1 -->
          <div class="flex items-center bg-gray-200 rounded-lg shadow-lg p-4">
              <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-20 h-20 rounded-lg">
              <div class="flex-1 ml-4">
                  <h2 class="text-lg font-semibold">Roadmap for Embedded System Design</h2>
              </div>
              <a href="course1.html" class="ml-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Enroll</a>
          </div>
  
          <!-- Card 2 -->
          <div class="flex items-center bg-gray-200 rounded-lg shadow-lg p-4">
              <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-20 h-20 rounded-lg">
              <div class="flex-1 ml-4">
                  <h2 class="text-lg font-semibold">Firmware Development</h2>
              </div>
              <a href="course2.html" class="ml-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Enroll</a>
          </div>
  
          <!-- Card 3 -->
          <div class="flex items-center bg-gray-200 rounded-lg shadow-lg p-4">
              <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-20 h-20 rounded-lg">
              <div class="flex-1 ml-4">
                  <h2 class="text-lg font-semibold">FPGA Design</h2>
              </div>
              <a href="course3.html" class="ml-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Enroll</a>
          </div>
      </div>
  
  </div>

</div>
{% endblock %}