{% extends 'inicioPadre.html' %}

{% block body %}
<div class="p-0">
    <div class="flex items-center justify-between mt-1 p-8 py-1">
        <a href="open_course.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Diseño/simulacion</a>
        <a href="roadlearning.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Manufactura</a>
        <a href="webinars.html" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">OTROs</a>
    </div>
    <div class="p-8 py-1">
        <hr class=" border-1.5 border-gray-400 ">
    </div>
    <h2 class="text-black bg-gray-200 font-bold py-2 mt-3 p-8 m-4 rounded-lg">ANALOG INTEGRATED CIRCUIT DESING</h2>
    <div class="bg-white-200 justify-center items-center p-8 py-1 grid-cols-2">
        <div class="flex space-x-4">
            <!-- First Card -->
            <div class="bg-gray-100 p-8 rounded-lg flex items-center space-x-6 w-full max-w-lg relative">
                <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-24 h-24 rounded-lg">
                
                <div class="w-full">
                    <!-- Texto de "Multisim" en la esquina superior derecha -->
                    <div class="text-right font-semibold text-lg absolute top-4 right-4">Multisim</div>
                    
                    <!-- Botones en la esquina inferior derecha -->
                    <div class="flex space-x-4 absolute bottom-4 right-4">
                        <a href="examples.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Example</button>
                        </a>
                        <a href="signup.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Inicio</button>
                        </a>
                    </div>
                </div>
            </div>
             <!-- First Card -->
            <div class="bg-gray-100 p-8 rounded-lg flex items-center space-x-6 w-full max-w-lg relative">
                <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-24 h-24 rounded-lg">
                
                <div class="w-full">
                    <!-- Texto de "Multisim" en la esquina superior derecha -->
                    <div class="text-right font-semibold text-lg absolute top-4 right-4">Multisim</div>
                    
                    <!-- Botones en la esquina inferior derecha -->
                    <div class="flex space-x-4 absolute bottom-4 right-4">
                        <a href="examples.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Example</button>
                        </a>
                        <a href="signup.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Inicio</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-black bg-gray-200 font-bold py-2 mt-3 p-8 m-4 rounded-lg">DIGITAL INTEGRATED CIRCUIT DESING</h2>
    <div class="bg-white-200 justify-center items-center p-8 py-1 grid-cols-2">
        <div class="flex space-x-4">
            <!-- First Card -->
            <div class="bg-gray-100 p-8 rounded-lg flex items-center space-x-6 w-full max-w-lg relative">
                <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-24 h-24 rounded-lg">
                
                <div class="w-full">
                    <!-- Texto de "Multisim" en la esquina superior derecha -->
                    <div class="text-right font-semibold text-lg absolute top-4 right-4">Multisim</div>
                    
                    <!-- Botones en la esquina inferior derecha -->
                    <div class="flex space-x-4 absolute bottom-4 right-4">
                        <a href="examples.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Example</button>
                        </a>
                        <a href="signup.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Inicio</button>
                        </a>
                    </div>
                </div>
            </div>
             <!-- First Card -->
            <div class="bg-gray-100 p-8 rounded-lg flex items-center space-x-6 w-full max-w-lg relative">
                <img src="ruta_de_tu_imagen.jpg" alt="Course Image" class="w-24 h-24 rounded-lg">
                
                <div class="w-full">
                    <!-- Texto de "Multisim" en la esquina superior derecha -->
                    <div class="text-right font-semibold text-lg absolute top-4 right-4">Multisim</div>
                    
                    <!-- Botones en la esquina inferior derecha -->
                    <div class="flex space-x-4 absolute bottom-4 right-4">
                        <a href="examples.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600">Example</button>
                        </a>
                        <a href="signup.html">
                            <button class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-600 ">Inicio</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}