{% extends 'inicioPadre.html' %}

{% block body %}
<div class="p-0">
    <div class="flex items-center justify-between mt-1 p-8 py-1">
        <a href="{{ url_for('cursos') }}" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Cursos</a>
        <a href="{{url_for('estudianteCursosRuta')}}" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Ruta de aprendizaje</a>
        <a href="{{url_for('estudianteCursosWebinar')}}" class="bg-gray-200 text-black px-8 py-2 rounded-full hover:bg-gray-300 active:bg-gray-400 transition duration-300">Webinars</a>
    </div>
    
    <div class="bg-black text-white flex items-center justify-between p-4 py-2">
        <button class="bg-gray-200 text-black px-8 py-2 rounded-lg">Categorias</button>
    </div>
    <h2 class="text-black bg-gray-200 font-bold py-2 mt-3 p-8 m-4 rounded-lg">DISEÑO DE CIRCUITOS INTEGRADOS ANALÓGICOS</h2>
    <div class="grid grid-cols-4 py-1 gap-4 p-8">
        {% for curso in cursos %}
            {% if curso.categoria == 'analogico' %}  <!-- Verifica si el curso es de la categoría 'analogico' -->
                <div class="border p-4 bg-gray-100 text-center">
                    <h3 class="font-bold">{{ curso.nombreCurso }}</h3>
                    <div class="bg-green-200 text-green-800 px-2 py-1 inline-block mt-2">
                        {% if curso.precio == 'gratis' %}
                            GRATIS
                        {% else %}
                            <h1>S/. {{ curso.precio }} </h1>
                        {% endif %}
                    </div>
                    <div class="mt-2 bg-green-500 p-2">0% Completed</div>
                    <div class="flex items-center justify-center mt-2">
                        <span class="text-yellow-500"><i class="fas fa-star"></i> 4.8</span>
                        <span class="ml-2 text-gray-500">230 ratings</span>
                    </div>
                    <div class="flex items-center justify-between mt-2">
                        <div class="text-gray-500">11 hours</div>
                        <a href="open_course.html" class="bg-gray-200 text-black px-4 py-2 rounded-lg hover:bg-gray-300 active:bg-gray-400 transition duration-300">Open Course</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    
    <h2 class="text-black bg-gray-200 font-bold py-2 mt-3 p-8 m-4 rounded-lg">DISEÑO DE CIRCUITOS INTEGRADOS DIGITALES</h2>
    <div class="grid grid-cols-4 py-1 gap-4 p-8">
        {% for curso in cursos %}
            {% if curso.categoria == 'digital' %}  <!-- Verifica si el curso es de la categoría 'analogico' -->
                <div class="border p-4 bg-gray-100 text-center">
                    <h3 class="font-bold">{{ curso.nombreCurso }}</h3>
                    <div class="bg-green-200 text-green-800 px-2 py-1 inline-block mt-2">
                        {% if curso.precio == 'gratis' %}
                            GRATIS
                        {% else %}
                            <h1>S/. {{ curso.precio }} </h1>
                        {% endif %}
                    </div>
                    <div class="mt-2 bg-green-500 p-2">0% Completed</div>
                    <div class="flex items-center justify-center mt-2">
                        <span class="text-yellow-500"><i class="fas fa-star"></i> 4.8</span>
                        <span class="ml-2 text-gray-500">230 ratings</span>
                    </div>
                    <div class="flex items-center justify-between mt-2">
                        <div class="text-gray-500">11 hours</div>
                        <a href="open_course.html" class="bg-gray-200 text-black px-4 py-2 rounded-lg hover:bg-gray-300 active:bg-gray-400 transition duration-300">Open Course</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
</div>
{% endblock %}